@import url('https://googleapis.com');

* {
  font-family: 'Poppins', sans-serif !important;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #fff5f5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code,
pre {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace !important;
}